<body>

<h3 class="text-center">Contact Form</h3>

<div class="container">
  <form>
<div class="form-group">
    <label for="fullName">Full Name</label>
    <input required minlength="3" maxlength="20" pattern="banana"
           ngModel name="fullName"
           (change)="log(fullName)"
           #fullName="ngModel"
           type="text"
           class="form-control"
           id="fullName" placeholder="Your full name.."
    >

    <div class="alert alert-danger" *ngIf="fullName.touched && !fullName.valid">
      <div *ngIf="fullName.errors.required">Full name is required</div>
      <div *ngIf="fullName.errors.minlength">Full name should be minimum {{fullName.errors.minlength.requiredLength}} characters</div>
      <div *ngIf="fullName.errors.pattern">Full name doesn't match 20 characters</div>
    </div>
</div>

  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" id="phone" name="phone" placeholder="Your phone..">
  </div>

  <div class="form-group">
    <label for="email"><b>Email</b></label>
  <input type="text" id="email" placeholder="Enter Email.." name="email" required>
  </div>

  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" id="address" placeholder="Your address.." name="address">
  </div>

    <button class="btn btn-primary" style="background-color: darkgrey" onClick="addMoreRows()">Submit</button>

  </form>
</div>

</body>
