<div class="container">
  <h1 class="text-center">User Details</h1>
</div>
<div class="container text-center">
  <table class="table table-hover table-striped" id="users">
    <thead>
    <tr>

      <th>ID</th>
      <th>FullName</th>
      <th>Phone</th>
      <th>Address</th>
    </tr>
    </thead>

    <tbody ngForm ='let user of users'>
     <tr>
       <td>{{users.id}}</td>
      <td>{{users.fullName}}</td>
      <td>{{users.phone}}</td>
      <td>{{users.address}}</td>
    </tr>
    </tbody>
  </table>

</div>


